.all-theater-showtimes {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  width: 50%;
}

.theater-showtimes {
  order: 1;
}

.theater-showtimes.hidden-by-user {
  order: 2;
}

.theater-showtimes.hidden-by-user .showtimes {
  display: none;
}

.theater-showtimes.hidden-by-user .theater-name {
  color: rgb(71, 138, 71);
}

.theater-showtimes.hidden-by-user .theater-name:hover {
  color: rgb(80, 179, 80);
}
