body {
  --link-color: blue;
  --link-color-dark: rgb(1, 1, 179);
  --theme-color-left: #FFC470;
  --theme-color-right: #dd8246;
  --bg-color: #fff5e8;
  --default-text-color: rgb(75, 75, 75);

  background-color: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--default-text-color);
  margin: 0;
  min-height: 100vh;

  a {
    color: var(--link-color) !important;
    text-decoration: none;
  }

  a:hover {
    color: var(--link-color-dark) !important;
  }

  a:visited {
    color: var(--link-color) !important;
  }

  a:visited:hover {
    color: var(--link-color-dark) !important;
  }

  a:link {
    color: var(--link-color) !important;
  }
}

main {
  padding: 2rem;
  border-left: 14px solid var(--theme-color-left);
  border-right: 14px solid var(--theme-color-right);
  min-height: 94vh;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: .25rem 16px;
  background-image: linear-gradient(to right, var(--theme-color-left), var(--theme-color-right));
  color: #333;

  a {
    color: #333 !important;
  }

  a:hover {
    color: var(--link-color) !important;
  }
}
